
<!-- slider starts -->
<div class="slider">
    <ul class="slides" id="ul">
        <li>
            <img src="https://wallpaperaccess.com/full/1792957.jpg">
            <div class="caption left-align">
                <h3 >mountain lake</h3>
            </div>
        </li>
        <li>
            <img src="https://wallpaperaccess.com/full/391835.jpg">
            <div class="caption center-align ">
                <h3 >green mountains</h3>
            </div>
        </li>

        <li>
            <img src="https://wallpaperaccess.com/full/391828.jpg">
            <div class="caption right-align">
                <h3 ">greenery mountains</h3>
            </div>
        </li>

    </ul>
</div>
<!-- slider ends -->