<%- include('./partials/header') %>

<style>
    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>

<div class="container">
    <h1 class="green-text"><%=title%></h1>
    <p><%=content%></p>
</div>

<%- include('./partials/footer') %>